<section class="big my-18 max-md:my-12">
    <div class="container">
        <h3 class="title mb-9 max-md:6">Почему выбирают нас</h3>
        <div class="grid grid-cols-4 gap-5 max-md:grid-cols-1 max-md:gap-2">
            <div class="px-4 py-8 rounded-md bg-grey-1 flex flex-col gap-2 max-h-46 h-full">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#check" />
                </svg>
                <h4 class="font-bold">Гарантия</h4>
                <p class="text-sm/[140%]">
                    Мы предоставляем гарантию от 1 до 5 лет в зависимости от
                    производителя и модели.
                </p>
            </div>
            <div class="px-4 py-8 rounded-md bg-grey-1 flex flex-col gap-2 max-h-46 h-full">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#red-sofa" />
                </svg>
                <h4 class="font-bold">Ассортимент</h4>
                <p class="text-sm/[140%]">
                    Полный ассортимент мебели от ведущих производителей  – от гостиной до прихожей.
                </p>
            </div>
            <div class="px-4 py-8 rounded-md bg-grey-1 flex flex-col gap-2 max-h-46 h-full">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#pay" />
                </svg>
                <h4 class="font-bold">Оплата</h4>
                <p class="text-sm/[140%]">
                    Удобные способы оплаты. Humo, UZCARD, Visa, Mastercard
                </p>
            </div>
            <div class="px-4 py-8 rounded-md bg-grey-1 flex flex-col gap-2 max-h-46 h-full">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#truck" />
                </svg>
                <h4 class="font-bold">Доставка</h4>
                <p class="text-sm/[140%]">
                    Бесплатная доставка товара в пределах г. Ташкент и пригородных районах собственным транспортом компании.
                </p>
            </div>
        </div>
    </div>
</section>
