<section class="mt-18 max-md:mt-12">
    <div class="container">
        <h3 class="title md:mb-9 max-md:mb-6">Наши бренды</h3>
        <div class="grid-cols-3 max-md:grid-cols-2 grid md:gap-5 max-md:gap-3">
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand01.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand02.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand03.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand04.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand05.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand06.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand07.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand08.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand09.svg"
                    alt="brand"
                />
            </div>
            <a
                href="##"
                class="md:hidden max-md:flex gap-3 bg-grey-1 flex items-center justify-center"
            >
                <span class="text-sm font-medium">Смотреть все</span>
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#narrow-right" />
                </svg>
            </a>
        </div>
        <div class="mt-18 max-md:mt-12 ad swiper-container relative">
            <div class="ad-wrapper swiper-wrapper">
                <div class="relative text-white ad-slide swiper-slide">
                    <img class="rounded-md" src="./public/images/jpg/ad01.jpg" alt="ad" />
                    <a class="bg-red-2 rounded-[50px] px-4.5 py-2.75 text-sm absolute bottom-4 right-4" href="##">Подробнее</a>
                </div>
                <div class="relative text-white ad-slide swiper-slide">
                    <img class="rounded-md" src="./public/images/jpg/ad02.jpg" alt="ad" />
                </div>
                <div class="relative text-white ad-slide swiper-slide">
                    <img class="rounded-md" src="./public/images/jpg/ad03.jpg" alt="ad" />
                    <a class="bg-red-2 rounded-[50px] px-4.5 py-2.75 text-sm absolute bottom-4 right-4" href="##">Подробнее</a>
                </div>
                <div class="relative text-white ad-slide swiper-slide">
                    <img class="rounded-md" src="./public/images/jpg/ad04.jpg" alt="ad" />
                    <a class="bg-red-2 rounded-[50px] px-4.5 py-2.75 text-sm absolute bottom-4 right-4" href="##">Подробнее</a>
                </div>
            </div>
            <div class="ad-scrollbar swiper-scrollbar absolute -bottom-6! md:hidden"></div>
        </div>
    </div>
</section>
