<section class="mt-18 max-md:mt-12">
    <div class="container">
        <h3 class="title md:mb-9 max-md:mb-6">Наши бренды</h3>
        <div class="grid-cols-3 max-md:grid-cols-2 grid md:gap-5 max-md:gap-3">
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand01.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand02.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand03.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand04.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand05.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand06.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand07.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand08.svg"
                    alt="brand"
                />
            </div>
            <div
                class="md:h-56.25 max-md:h-20 rounded-md bg-grey-1 flex items-center justify-center hover:bg-white transition-300"
            >
                <img
                    class="max-md:w-20"
                    src="./public/svg/brand09.svg"
                    alt="brand"
                />
            </div>
            <a
                href="##"
                class="md:hidden max-md:flex gap-3 bg-grey-1 flex items-center justify-center"
            >
                <span class="text-sm font-medium">Смотреть все</span>
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#narrow-right" />
                </svg>
            </a>
        </div>
        <div class="grid grid-cols-4 gap-5">
            <div><img src="./public/images/jpg/ad01.jpg" alt="ad" /></div>
        </div>
    </div>
</section>
