<section class="mt-18 max-md:mb-12">
    <div class="container">
        <div class="flex items-end justify-between mb-9 max-md:mb-6">
            <h3 class="title">Большие скидки</h3>
            <a href="##" class="text-red-2 text-sm">Смотреть все</a>
        </div>
        <div class="products swiper-container">
            <div class="products-wrapper swiper-wrapper">
                
                <div class="products-slide swiper-slide relative rounded-md border border-brown-light p-7.5 max-md:p-4">
                    <span class="text-red absolute top-7.5 left-7.5 max-md:top-4 max-md:left-4 font-bold">-40%</span>
                    <a class="md:size-10 absolute right-7.5 top-7.5 max-md:top-4 max-md:right-4 flex items-center justify-center" href="##">
                        <svg class="size-6">
                            <use
                                xlink:href="/sprites.svg#heart"
                            />
                        </svg>
                    </a>
                    <img class="h-75.25 max-md:h-50 mx-auto"  src="./public/images/png/product01.png" alt="closet">
                    <div class="mt-6">
                        <h3 class="text-brown md:text-[20px] font-extrabold uppercase">шатура</h3>
                        <p class="font-medium mt-3 max-md:mt-1.5 mb-6 max-md:mb-3 max-md:text-sm">Шкаф четырехстворчатый Next со стеклом 178х61х249</p>
                        <span class="text-sm max-md:text-[12px] font-medium text-grey-2">Шкафы</span>
                        <div class="flex justify-between items-end mt-3">
                            <div class="text-[18px]/[140%] max-md:text-[16px] font-semibold ">17 000 000 UZS</div>
                            <span class="text-sm/[140%] max-md:text-[12px] font-semibold text-grey-2 line-through">28 000 000 UZS</span>
                        </div>
                    </div>
                </div>
                <div class="products-slide swiper-slide relative rounded-md border border-brown-light p-7.5 max-md:p-4">
                    <span class="text-red absolute top-7.5 left-7.5 max-md:top-4 max-md:left-4 font-bold">-50%</span>
                    <a class="md:size-10 absolute right-7.5 top-7.5 max-md:top-4 max-md:right-4 flex items-center justify-center" href="##">
                        <svg class="size-6">
                            <use
                                xlink:href="/sprites.svg#heart"
                            />
                        </svg>
                    </a>
                    <img class="h-75.25 max-md:h-50 mx-auto"  src="./public/images/png/product02.png" alt="closet">
                    <div class="mt-6">
                        <h3 class="text-brown md:text-[20px] font-extrabold uppercase">enza home</h3>
                        <p class="font-medium mt-3 max-md:mt-1.5 mb-6 max-md:mb-3 max-md:text-sm">Двухместный диван Astera, цвет cветло-серый</p>
                        <span class="text-sm max-md:text-[12px] font-medium text-grey-2">Диваны</span>
                        <div class="flex justify-between items-end mt-3">
                            <div class="text-[18px]/[140%] max-md:text-[16px] font-semibold ">25 000 000 UZS</div>
                            <span class="text-sm/[140%] max-md:text-[12px] font-semibold text-grey-2 line-through">52 000 000 UZS</span>
                        </div>
                    </div>
                </div>
                <div class="products-slide swiper-slide relative rounded-md border border-brown-light p-7.5 max-md:p-4">
                    <span class="text-red absolute top-7.5 left-7.5 max-md:top-4 max-md:left-4 font-bold">-30%</span>
                    <a class="md:size-10 absolute right-7.5 top-7.5 max-md:top-4 max-md:right-4 flex items-center justify-center" href="##">
                        <svg class="size-6">
                            <use
                                xlink:href="/sprites.svg#heart"
                            />
                        </svg>
                    </a>
                    <img class="h-75.25 max-md:h-50 mx-auto"  src="./public/images/png/product03.png" alt="closet">
                    <div class="mt-6">
                        <h3 class="text-brown md:text-[20px] font-extrabold uppercase">mamadoma</h3>
                        <p class="font-medium mt-3 max-md:mt-1.5 mb-6 max-md:mb-3 max-md:text-sm">Стол RONDO M-100, цвет дуб веллингтон</p>
                        <span class="text-sm max-md:text-[12px] font-medium text-grey-2">Столы</span>
                        <div class="flex justify-between items-end mt-3">
                            <div class="text-[18px]/[140%] max-md:text-[16px] font-semibold ">2 000 000 UZS</div>
                            <span class="text-sm/[140%] max-md:text-[12px] font-semibold text-grey-2 line-through">6 000 000 UZS</span>
                        </div>
                    </div>
                </div>
                <div class="products-slide swiper-slide relative rounded-md border border-brown-light p-7.5 max-md:p-4">
                    <span class="text-red absolute top-7.5 left-7.5 max-md:top-4 max-md:left-4 font-bold">-50%</span>
                    <a class="md:size-10 absolute right-7.5 top-7.5 max-md:top-4 max-md:right-4 flex items-center justify-center" href="##">
                        <svg class="size-6">
                            <use
                                xlink:href="/sprites.svg#heart"
                            />
                        </svg>
                    </a>
                    <img class="h-75.25 max-md:h-50 mx-auto"  src="./public/images/png/product04.png" alt="closet">
                    <div class="mt-6">
                        <h3 class="text-brown md:text-[20px] font-extrabold uppercase">progress</h3>
                        <p class="font-medium mt-3 max-md:mt-1.5 mb-6 max-md:mb-3 max-md:text-sm">Кресло "Оникс" ГМФ 619, цвет оранжевый</p>
                        <span class="text-sm max-md:text-[12px] font-medium text-grey-2">Кресла</span>
                        <div class="flex justify-between items-end mt-3">
                            <div class="text-[18px]/[140%] max-md:text-[16px] font-semibold ">3 500 000 UZS</div>
                            <span class="text-sm/[140%] max-md:text-[12px] font-semibold text-grey-2 line-through">7 000 000 UZS</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>