<div class="absolute text-black" style="bottom: {{bottom}}; left: {{left}};">
    <div class="group relative size-8 rounded-[50%] bg-black/50 border-2 border-white/50 flex items-center justify-center">
        <span class="block size-3 group-hover:size-2 bg-white rounded-[50%] transition-300"></span>
        <a href="##" class="p-3 text-[12px] bg-white rounded-md absolute -top-[50%] left-10 w-37.25 invisible opacity-0 group-hover:opacity-100 group-hover:visible">
            <div class="h-12">
                <h3 class="font-bold text-sm">{{title}}</h3>
                <p>{{subtitle}}</p>
            </div>
            <div class="flex items-center justify-between"> 
                <span class="text-red-2 font-bold">{{price}}</span>
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#arrow-right" />
                </svg>
            </div>
        </a>
    </div>
</div>