<footer class="footer">
    <div class="container"></div>

    <div class="container">
        <div class="flex lg:flex-row flex-col gap-6 lg:items-start items-center lg:text-start text-center">
            <p class="text-sm">© 2025 MYMODA</p>

            <a
                href="https://inweb.uz/"
                target="_blank"
                rel="nofollow"
                class="flex items-center gap-1 hover:opacity-50 text-sm">
                Разработка -
                <img src="/images/inweb.png" alt="" class="size-4.5 object-contain" />
            </a>
        </div>
    </div>
</footer>
