<footer class="footer pt-18 max-md:pt-12 pb-6 border-t border-brown-light relative">
    <div class="container">

        <a class="md:hidden flex mb-8" href="##">
            <svg class="h-6 w-40.75">
                <use xlink:href="/sprites.svg#logo" />
            </svg>
        </a>
        <div class="grid grid-cols-6 md:gap-12.75 max-md:grid-cols-1">

            <div class="accordion max-md:border-y border-grey-1">
                <div class="flex items-center justify-between max-md:h-22">
                    <h3 class="font-bold md:mb-6">Категории</h3>
                    <svg class="size-6 md:hidden">
                        <use xlink:href="/sprites.svg#chevron-down"/>
                    </svg>
                </div>
                <ul class="flex flex-col gap-6 [&>li>a]:font-medium [&>li>a]:text-sm">
                    <li><a href="##">Диваны</a></li>
                    <li><a href="##">Кровати</a></li>
                    <li><a href="##">Матрасы</a></li>
                    <li><a href="##">Кресла</a></li>
                    <li><a href="##">Шкафы</a></li>
                    <li><a href="##">Вешалки</a></li>
                    <li><a href="##">Столы</a></li>
                    <li><a href="##">Стулья</a></li>
                    <li><a href="##">Зеркала</a></li>
                    <li><a href="##">Комоды и тумбы</a></li>
                    <li><a href="##">Навесные полки</a></li>
                    <li><a href="##">Пуфы и банкетки</a></li>
                    <li><a href="##">Товары для сна</a></li>
                    <li><a href="##">Аксессуары и декор</a></li>
                </ul>
            </div>
            <div class="accordion max-md:border-y border-grey-1">
                <div class="flex items-center justify-between max-md:h-22">
                    <h3 class="font-bold md:mb-6">Помещения</h3>
                    <svg class="size-6 md:hidden">
                        <use xlink:href="/sprites.svg#chevron-down"/>
                    </svg>
                </div>
                <ul class="flex flex-col gap-6 [&>li>a]:font-medium [&>li>a]:text-sm">
                    <li><a href="##">Гостиная</a></li>
                    <li><a href="##">Спальня</a></li>
                    <li><a href="##">Прихожая</a></li>
                    <li><a href="##">Детская</a></li>
                    <li><a href="##">Кабинет</a></li>
                    <li><a href="##">Офис</a></li>
                </ul>
            </div>
            <div class="accordion max-md:border-y border-grey-1">
                <div class="flex items-center justify-between max-md:h-22">
                    <h3 class="font-bold md:mb-6">Бренды</h3>
                    <svg class="size-6 md:hidden">
                        <use xlink:href="/sprites.svg#chevron-down"/>
                    </svg>
                </div>
                <ul class="flex flex-col gap-6 [&>li>a]:font-medium [&>li>a]:text-sm">
                    <li><a href="##">Шатура</a></li>
                    <li><a href="##">Enza Home</a></li>
                    <li><a href="##">Progress</a></li>
                    <li><a href="##">Kupidivan</a></li>
                    <li><a href="##">Zastolom</a></li>
                    <li><a href="##">Aero</a></li>
                    <li><a href="##">Mamadoma</a></li>
                    <li><a href="##">Stolstulbor</a></li>
                    <li><a href="##">Yatas bedding</a></li>
                </ul>
            </div>
            <div class="accordion max-md:border-y border-grey-1">
                <div class="flex items-center justify-between max-md:h-22">
                    <h3 class="font-bold md:mb-6">Покупателям</h3>
                    <svg class="size-6 md:hidden">
                        <use xlink:href="/sprites.svg#chevron-down"/>
                    </svg>
                </div>
                <ul class="flex flex-col gap-6 [&>li>a]:font-medium [&>li>a]:text-sm">
                    <li><a href="##">Оплата</a></li>
                    <li><a href="##">Доставка</a></li>
                    <li><a href="##">Сборка</a></li>
                    <li><a href="##">Возврат и обмен</a></li>
                    <li><a href="##">Постпродажный сервис</a></li>
                    <li><a href="##">Вопросы и ответы</a></li>
                </ul>
            </div>
            <div class="accordion max-md:border-y border-grey-1">
                <div class="flex items-center justify-between max-md:h-22">
                    <h3 class="font-bold md:mb-6">О компании</h3>
                    <svg class="size-6 md:hidden">
                        <use xlink:href="/sprites.svg#chevron-down"/>
                    </svg>
                </div>
                <ul class="flex flex-col gap-6 [&>li>a]:font-medium [&>li>a]:text-sm">
                    <li><a href="##">О нас</a></li>
                    <li><a href="##">Контакты</a></li>
                    <li><a href="##">Магазины</a></li>
                </ul>
            </div>
            <div class="max-md:border-y border-grey-1">
                <h3 class="font-bold md:mb-6">Мы в соцсетях</h3>
                <ul class="flex md:flex-col gap-6 max-md:gap-3">

                    <li>
                        <a class="flex items-center gap-3" href="##">
                            <svg class="size-7">
                                <use xlink:href="/sprites.svg#telegram"/>
                            </svg>
                            <span class="max-md:hidden">Telegram</span>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-3" href="##">
                            <svg class="size-7">
                                <use xlink:href="/sprites.svg#instagram"/>
                            </svg>
                            <span class="max-md:hidden">Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-3" href="##">
                            <svg class="size-7">
                                <use xlink:href="/sprites.svg#facebook"/>
                            </svg>
                            <span class="max-md:hidden">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-3" href="##">
                            <svg class="size-7">
                                <use xlink:href="/sprites.svg#youtube"/>
                            </svg>
                            <span class="max-md:hidden">Youtube</span>
                        </a>
                    </li>
                    
                </ul>
                <div class="flex flex-col gap-4 my-18">
                    <h4 class="font-bold">Связаться с нами</h4>
                    <a class="text-[20px]" href="tel:+998900073335">+998 90 007 33 35</a>
                </div>
                <div class="flex flex-col gap-4">
                    <h4 class="font-bold">Режим работы</h4>
                    <p class="">Ежедневно: 10:00-20:00</p>
                </div>
            </div>
            
        </div>
        <div class="flex gap-3 flex-col items-end [&>a]:underline [&>a]:text-sm">
            <a href="##">Политика конфиденциальности</a>
            <a href="##">Пользовательское соглашение</a>
        </div>
        <div class="grid grid-cols-3 items-end justify-between mt-3">
            <div>
                <a href="##">
                    <svg class="h-8.5 w-58.5">
                        <use xlink:href="/sprites.svg#logo" />
                    </svg>
                </a>
            </div>
            <p class="text-sm text-center">© MANN HOME, 2026. Все права защищены.</p>
            <div class="">
                <a class="flex items-center gap-1 justify-end" href="https://inweb.uz/" target="_blank">
                    <span>Разработка -</span>
                    <img src="./public/images/inweb.png" alt="inweb">
                </a>
            </div>
        </div>
        <a class="absolute bottom-21 left-[calc(50%-26px)]" href="##" onclick="window.scrollTo({top: 0, behavior: 'smooth'}); return false;">
            <svg class="size-13  rounded-[50%]">
                <use xlink:href="/sprites.svg#scroll-up"/>
            </svg>
        </a>


    </div>  
</footer>