<header class="h-22.5 z-3 bg-white sticky top-0">
    <div class="container flex-between-center h-full">
        <a href="index.html" class="logo">
            <svg class="h-7.5 w-51">
                <use xlink:href="/sprites.svg#logo" />
            </svg>
        </a>
        <nav class="ml-auto pr-18">
            <ul class="flex-center gap-12 [&>li>a]:pb-2.5">
                <li class="group">
                    <a
                        class="group-hover:border-b-2 group-hover:border-red-2 pb-2.5 "
                        href="##"
                        >Категории</a
                    >
                    <div
                        class="bg-white absolute top-22.5 left-0 w-full pb-12 opacity-0 invisible transition-all ease-in-out duration-300 group-hover:opacity-100 group-hover:visible delay-150 "
                    >
                        <div class="container">
                            <ul
                                class="relative flex gap-2 [&>li>a]:py-3.5 [&>li>a]:px-6 whitespace-nowrap [&>li>a]:border [&>li>a]:border-brown-light [&>li>a]:rounded-sm [&>li>a]:flex overflow-x-scroll pt-8 [&>li>a.active]:border-red-2 category-list scroll-off"
                            >
                                <div
                                    class="bg-brown-light absolute top-10 right-3.75 size-9 rounded-full flex items-center justify-center cursor-pointer category-next "
                                >
                                    <svg class="h-3 w-1.5">
                                        <use
                                            xlink:href="/sprites.svg#vector-right"
                                        />
                                    </svg>
                                </div>
                                <li class="group/couch">
                                    <a class="active" href="##">Диваны</a>
                                    {{>submenu title="Диваны" items=(array "Диваны модульные" "Диваны угловые" "Диваны прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Кровати</a>
                                    {{>submenu title="Кровати" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Матрасы</a>
                                    {{>submenu title="Матрасы" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Кресла</a>
                                    {{>submenu title="Кресла" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Шкафы</a>
                                    {{>submenu title="Шкафы" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Вешалки</a>
                                    {{>submenu title="Вешалки" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Столы</a>
                                    {{>submenu title="Столы" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Стулья</a>
                                    {{>submenu title="Стулья" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Зеркала</a>
                                    {{>submenu title="Зеркала" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Комоды и тумбы</a>
                                    {{>submenu title="Комоды и тумбы" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Навесные полки</a>
                                    {{>submenu title="Навесные полки" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Пуфы и банкетки</a>
                                    {{>submenu title="Пуфы и банкетки" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Светильники</a>
                                    {{>submenu title="Светильники" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Товары для сна</a>
                                    {{>submenu title="Товары для сна" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a href="##">Аксессуары и декор</a>
                                    {{>submenu title="Пуфы и банкетки" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="group">
                    <a
                        class="group-hover:border-b-2 group-hover:border-red-2 pb-2.5"
                        href="##"
                        >Помещения</a
                    >
                    <div
                        class="bg-white absolute top-22.5 left-0 w-full pb-12 opacity-0 invisible transition-all ease-in-out group-hover:opacity-100 group-hover:visible delay-150"
                    >
                        <div class="container overflow-hidden relative flex">
                            <h3 class="font-semibold text-2xl flex-[0_1_346px]">
                                Помещения
                            </h3>
                            <ul class="flex gap-6">
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house01.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Гостиная</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house02.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Спальня</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house03.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Прихожая</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house04.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Детская</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house05.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Кабинет</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house06.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Офис</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="group">
                    <a
                        class="group-hover:border-b-2 group-hover:border-red-2 pb-2.5"
                        href="##"
                        >Бренды</a
                    >
                    <div
                        class="bg-white absolute top-22.5 left-0 w-full pb-12 opacity-0 invisible transition-all ease-in-out group-hover:opacity-100 group-hover:visible pt-8 delay-150"
                    >
                        <div class="container overflow-hidden">
                            <ul class="flex gap-6">
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light rounded-md">
                                    <img
                                        src="../public/images/png/brand01.png"
                                        alt="brand"
                                    />
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light rounded-md">
                                    <img
                                        src="../public/images/png/brand02.png"
                                        alt="brand"
                                    />
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light rounded-md">
                                    <img
                                        src="../public/images/png/brand03.png"
                                        alt="brand"
                                    />
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light rounded-md">
                                    <img
                                        src="../public/images/png/brand04.png"
                                        alt="brand"
                                    />
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light rounded-md">
                                    <img
                                        src="../public/images/png/brand05.png"
                                        alt="brand"
                                    />
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light rounded-md">
                                    <img
                                        src="../public/images/png/brand06.png"
                                        alt="brand"
                                    />
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light rounded-md">
                                    <img
                                        src="../public/images/png/brand07.png"
                                        alt="brand"
                                    />
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light rounded-md">
                                    <img
                                        src="../public/images/png/brand08.png"
                                        alt="brand"
                                    />
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light rounded-md">
                                    <img
                                        src="../public/images/png/brand09.png"
                                        alt="brand"
                                    />
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="w-full max-w-142.5 mr-12">
            <input
                class="px-4 h-12 bg-grey-1 w-full flex items-center rounded-4xl"
                type="search"
                placeholder="Поиск"
            />
        </div>
        <div class="flex-center gap-3">
            <a class="size-10 flex items-center justify-center" href="##">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#user" />
                </svg>
            </a>
            <a class="size-10 flex items-center justify-center" href="##">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#heart" />
                </svg>
            </a>
            <a class="size-10 flex items-center justify-center" href="##">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#bag" />
                </svg>
            </a>
        </div>
    </div>
</header>
<div
    class="z-2 overlay fixed top-0 left-0 w-full h-full bg-[#00000081] opacity-0 invisible transition-all ease-in-out duration-300"
></div>
