<header class="h-22.5 z-3 bg-white sticky top-0 max-sm:h-37 max-sm:pt-6 max-md:z-51">
    <div class="container flex-between-center max-sm:flex-wrap max-sm:gap-y-5.5 sm:h-full">
        <a href="index.html" class="logo">
            <svg class="h-7.5 w-51 max-sm:max-w-40.75">
                <use xlink:href="/sprites.svg#logo" />
            </svg>
        </a>
        <nav class="ml-auto pr-18 max-sm:fixed z-1">
            <ul class="flex-center gap-12 [&>li>a]:pb-2.5 max-md:fixed max-md:bottom-0 max-md:left-0 max-sm:gap-0 max-sm:w-full max-sm:bg-white max-sm:justify-between max-md:pt-3">
                <li class="group max-md:w-full max-md:bg-white max-md:pt-3">
                    <a
                        class="group-hover:border-b-2 group-hover:border-red-2 pb-2.5 max-sm:flex max-sm:flex-col max-sm:gap-1.5 max-sm:items-center [&.active>div]:bg-pink [&.active]:text-red"
                        href="##"
                        >
                        <div class="h-7 w-14.5 flex items-center justify-center sm:hidden rounded-[100px]">
                            <svg class="h-3 w-4.5">
                                <use xlink:href="/sprites.svg#category" />
                            </svg>
                        </div>
                        <span class="max-sm:text-[10px] text-sm">Категории</span></a
                    >
                    <div
                        class="bg-white absolute top-22.5 left-0 w-full pb-12 opacity-0 invisible transition-all ease-in-out duration-300 group-hover:opacity-100 group-hover:visible md:delay-150 max-sm:fixed max-sm:-left-full max-sm:top-0 [&.active]:left-0 [&.active]:opacity-100 [&.active]:visible [&.active]:p-0 max-md:z-[-1]"
                    >
                        <div class="md:container">
                            <ul
                                class=" flex md:gap-2 [&>li>a]:py-3.5 max-md:[&>li>a]:py-3.75 [&>li>a]:px-6 whitespace-nowrap md:[&>li>a]:border max-md:[&>li>a]:border-b ] [&>li>a]:border-brown-light md:[&>li>a]:rounded-sm [&>li>a]:flex overflow-x-scroll md:pt-8 md:[&>li>a.active]:border-red-2 category-list scroll-off max-sm:flex-col md:overflow-y-auto max-md:h-screen"
                            >
                                <div class="flex items-center justify-between flex-[0_0_74px] px-4 md:hidden">
                                    <div></div>
                                    <h3 class="group/couch">
                                        <span class="">Категории</span>
                                    </h3>
                                    <div>
                                        <svg class="size-6 close">
                                            <use
                                                xlink:href="/sprites.svg#close"
                                            />
                                        </svg>
                                    </div>
                                </div>
                                <li class="group/couch">
                                    <a class="active flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category01"
                                            />
                                        </svg>
                                        <span class="mr-auto">Диваны</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Диваны" items=(array "Диваны модульные" "Диваны угловые" "Диваны прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category02"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Кровати</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Кровати" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category03"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Матрасы</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Матрасы" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category04"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Кресла</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Кресла" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category05"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Шкафы</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Шкафы" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category06"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Вешалки</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Вешалки" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category07"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Столы</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Столы" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category08"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Стулья</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Стулья" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category09"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Зеркала</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Зеркала" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category10"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Комоды и тумбы</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Комоды и тумбы" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category11"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Навесные полки</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Навесные полки" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category12"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Пуфы и банкетки</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Пуфы и банкетки" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category13"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Светильники</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Светильники" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category14"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Товары для сна</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Товары для сна" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                                <li class="group/couch">
                                    <a class="flex items-center gap-6" href="##">
                                        <svg class="size-10.5 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#category15"
                                            />
                                        </svg>
                                        <span class="mr-auto" >Аксессуары и декор</span>
                                        <svg class="size-6 md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#arrow-right"
                                            />
                                        </svg>
                                    </a>
                                    {{>submenu title="Пуфы и банкетки" items=(array "Кровати модульные" "Кровати угловые" "Кровати прямые")}}
                                </li>
                            </ul>
                            <div class="bg-brown-light absolute top-10 right-3.75 size-9 rounded-full flex items-center justify-center cursor-pointer category-next max-md:hidden" >
                                <svg class="h-3 w-1.5">
                                    <use
                                        xlink:href="/sprites.svg#vector-right"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="group max-md:w-full max-md:bg-white max-md:pt-3">
                    <a
                        class="group-hover:border-b-2 group-hover:border-red-2 pb-2.5 max-sm:flex max-sm:flex-col max-sm:gap-1.5 max-sm:items-center [&.active>div]:bg-pink [&.active]:text-red"
                        href="##"
                        >
                        <div class="h-7 w-14.5 flex items-center justify-center sm:hidden rounded-[100px]">
                            <svg class="h-3 w-4.5">
                                <use xlink:href="/sprites.svg#sofa" />
                            </svg>
                        </div>
                        <span class=" max-sm:text-[10px] text-sm" >Помещения</span></a
                    >
                    <div
                        class="bg-white absolute top-22.5 left-0 w-full pb-12 opacity-0 invisible transition-all ease-in-out group-hover:opacity-100 group-hover:visible md:delay-150 max-sm:fixed max-sm:-left-full max-sm:top-0 [&.active]:left-0 [&.active]:opacity-100 [&.active]:visible max-md:h-screen max-md:overflow-auto max-md:z-[-1]"
                    >
                        <div class="container overflow-hidden relative flex max-md:flex-col max-md:p-0">
                            <div class="flex items-center justify-between flex-[0_0_74px] md:px-4 md:hidden">
                                <div></div>
                                <h3 class="font-semibold text-2xl max-md:text-[16px]">
                                    Помещения
                                </h3>
                                <div>
                                    <svg class="size-6 close md:hidden">
                                        <use
                                            xlink:href="/sprites.svg#close"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <ul class="flex gap-6 max-md:grid-cols-2 max-md:grid max-md:gap-x-3.75 max-md:gap-y-8">
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house01.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Гостиная</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house02.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Спальня</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house03.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Прихожая</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house04.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Детская</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house05.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Кабинет</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="flex flex-col gap-3" href="##">
                                        <div>
                                            <img
                                                class="rounded-md"
                                                src="../public/images/jpg/house06.jpg"
                                                alt="house"
                                            />
                                        </div>
                                        <div class="flex justify-between">
                                            <span class="font-medium"
                                                >Офис</span
                                            >
                                            <svg class="size-6">
                                                <use
                                                    xlink:href="/sprites.svg#arrow-right"
                                                />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="group max-md:w-full max-md:bg-white max-md:pt-3">
                    <a
                        class="group-hover:border-b-2 group-hover:border-red-2 pb-2.5 max-sm:flex max-sm:flex-col max-sm:gap-1.5 max-sm:items-center [&.active>div]:bg-pink [&.active]:text-red"
                        href="##"
                        >
                        <div class="h-7 w-14.5 flex items-center justify-center sm:hidden rounded-[100px]">
                            <svg class="size-4.75">
                                <use xlink:href="/sprites.svg#medal" />
                            </svg>
                        </div>
                        <span class="max-sm:text-[10px] text-sm" >Бренды</span>
                        </a
                    >
                    <div
                        class="bg-white absolute top-22.5 left-0 w-full pb-12 opacity-0 invisible transition-all ease-in-out group-hover:opacity-100 group-hover:visible md:pt-8 md:delay-150 max-md:fixed max-sm:top-0 [&.active]:left-0 max-md:-left-full [&.active]:opacity-100 [&.active]:visible max-md:overflow-auto max-md:p-0 max-md:z-[-1]"
                    >
                        <div class="container overflow-hidden max-md:p-0">
                            <ul class="flex md:gap-6 max-md:flex-col [&>li]:w-full max-md:[&>li]:border-t-0 max-md:[&>li]:justify-start max-md:[&>li]:px-4 max-md:[&>li]:h-18.5">
                                <div class="flex items-center justify-between flex-[0_0_74px] px-4 md:hidden">
                                    <div></div>
                                    <h3 class="font-semibold text-2xl max-md:text-[16px]">
                                        Помещения
                                    </h3>
                                    <div>
                                        <svg class="size-6 close md:hidden">
                                            <use
                                                xlink:href="/sprites.svg#close"
                                            />
                                        </svg>
                                    </div>
                                </div>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light md:rounded-md">
                                    <img
                                        class="max-md:hidden"
                                        src="../public/images/png/brand01.png"
                                        alt="brand"
                                    />
                                    <span class="md:hidden">Шатура</span>
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light md:rounded-md">
                                    <img
                                        class="max-md:hidden"
                                        src="../public/images/png/brand02.png"
                                        alt="brand"
                                    />
                                    <span class="md:hidden">Enza Home</span>
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light md:rounded-md">
                                    <img
                                        class="max-md:hidden"
                                        src="../public/images/png/brand03.png"
                                        alt="brand"
                                    />
                                    <span class="md:hidden">Progress</span>
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light md:rounded-md">
                                    <img
                                        class="max-md:hidden"
                                        src="../public/images/png/brand04.png"
                                        alt="brand"
                                    />
                                    <span class="md:hidden">Kupidivan</span>
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light md:rounded-md">
                                    <img
                                        class="max-md:hidden"
                                        src="../public/images/png/brand05.png"
                                        alt="brand"
                                    />
                                    <span class="md:hidden">Zastolom</span>
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light md:rounded-md">
                                    <img
                                        class="max-md:hidden"
                                        src="../public/images/png/brand06.png"
                                        alt="brand"
                                    />
                                    <span class="md:hidden">Aero</span>
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light md:rounded-md">
                                    <img
                                        class="max-md:hidden"
                                        src="../public/images/png/brand07.png"
                                        alt="brand"
                                    />
                                    <span class="md:hidden">Mamadoma</span>
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light md:rounded-md">
                                    <img
                                        class="max-md:hidden"
                                        src="../public/images/png/brand08.png"
                                        alt="brand"
                                    />
                                    <span class="md:hidden">Stolstulbor</span>
                                </li>
                                <li class="h-20 w-37.5 flex items-center justify-center border border-brown-light md:rounded-md">
                                    <img
                                        class="max-md:hidden"
                                        src="../public/images/png/brand09.png"
                                        alt="brand"
                                    />
                                    <span class="md:hidden">Yatas bedding</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="group sm:hidden max-md:w-full max-md:bg-white max-md:pt-3">
                    <a
                        class="group-hover:border-b-2 group-hover:border-red-2 pb-2.5 max-sm:flex max-sm:flex-col max-sm:gap-1.5 max-sm:items-center [&.active>div]:bg-pink [&.active]:text-red"
                        href="##"
                        >
                        <div class="h-7 w-14.5 flex items-center justify-center sm:hidden rounded-[100px]">
                            <svg class="size-5">
                                <use xlink:href="/sprites.svg#tag" />
                            </svg>
                        </div>
                        <span class="max-sm:text-[10px]" >Акции</span>
                        </a
                    >
                </li>
            </ul>
        </nav>
        <div class="w-full max-w-150.5 mr-12 max-sm:order-last max-sm:mr-0 max-sm:basis-full relative  md:h-full flex items-center bg-white rounded-tl-md rounded-tr-md md:px-4 max-md:[&:has(input:focus)]:absolute max-md:[&:has(input:focus)]:-top-12.5 max-md:[&:has(input:focus)]:left-0 max-md:[&:has(input:focus)]:gap-4 max-md:[&:has(input:focus)]:p-4 max-md:[&:has(input:focus)]:rounded-none">
            <div class="opacity-0 invisible size-0 max-md:[&:has(~input:focus)]:opacity-100 max-md:[&:has(~input:focus)]:visible max-md:[&:has(~input:focus)]:size-auto">
                <svg class="size-6 relative">
                    <use
                        xlink:href="/sprites.svg#arrow-left "
                    />
                </svg>
            </div>
            <input
                class="peer focus:bg-white focus:border-red border-grey-1 border outline-0 px-14 h-12 bg-grey-1 w-full flex items-center rounded-4xl bg-[url(./public/svg/search.svg)] focus:bg-[url(./public/svg/search-black.svg)] bg-no-repeat bg-position-[16px] focus:bg-position-[calc(100%-24px)] focus:px-4"
                type="search"
                placeholder="Поиск"
            />
            <div class="opacity-0 invisible peer-focus:opacity-100 peer-focus-within:visible cursor-pointer absolute right-20 md:top-8">
                <svg class="size-6 relative">
                    <use
                        xlink:href="/sprites.svg#close"
                    />
                </svg>
                <div class="absolute w-0.5 h-6 bg-grey-1 top-0 -right-2"></div>
            </div>
            <div class="opacity-0 invisible peer-focus:opacity-100 peer-focus:visible [.peer:focus:not(:placeholder-shown)~&]:opacity-0! [.peer:focus:not(:placeholder-shown)~&]:invisible! absolute top-full left-0 p-4 pt-2 bg-white w-full z-10 shadow-lg transition-300 rounded-bl-md rounded-br-md">
                <h3 class="text-sm text-grey-3 mb-6">Популярные бренды</h3>
                <div class="flex flex-wrap gap-3 [&>span]:flex [&>span]:items-center [&>span]:justify-center [&>span]:px-4.5 [&>span]:bg-grey-1 [&>span]:rounded-[50px] [&>span]:h-9.25 peer:focus:not(:placeholder-shown)~&]:opacity-0 peer:focus:not(:placeholder-shown)~&]:invisible">
                    <span>Enza home</span>
                    <span>Aero</span>
                    <span>Kupidivan</span>
                    <span>ZaStolom</span>
                    <span>mamadoma</span>
                    <span>шатура</span>
                    <span>Progress</span>
                </div>
            </div>
            <div class="opacity-0 [.peer:focus:not(:placeholder-shown)~&]:opacity-100 [.peer:focus:not(:placeholder-shown)~&]:visible invisible absolute top-full left-0 p-4 pt-2 bg-white w-full z-10 shadow-lg transition-300 rounded-bl-md rounded-br-md max-md:pl-14">
                <div class="flex flex-col gap-6">
                    <div class="flex items-center gap-4">
                        <svg class="size-6">
                            <use xlink:href="/sprites.svg#search-black" />
                        </svg>
                        <span>кресло</span>
                    </div>
                    <div class="flex items-center gap-4">
                        <svg class="size-6">
                            <use xlink:href="/sprites.svg#search-black" />
                        </svg>
                        <span>кресло</span>
                    </div>
                    <div class="flex items-center gap-4">
                        <svg class="size-6">
                            <use xlink:href="/sprites.svg#search-black" />
                        </svg>
                        <span>кресло</span>
                    </div>
                </div>
            </div>
            <div class="peer-focus:opacity-100 peer-focus:visible -z-1 fixed top-0 left-0 w-full h-full bg-[#00000081] opacity-0 invisible transition-all ease-in-out duration-300"></div>
        </div>
        <div class="flex-center gap-3 max-sm:gap-1.5">
            <a class="size-10 max-sm:size-8 flex items-center justify-center" href="##">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#user" />
                </svg>
            </a>
            <a class="size-10 max-sm:size-8 flex items-center justify-center" href="##">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#heart" />
                </svg>
            </a>
            <a class="size-10 max-sm:size-8 flex items-center justify-center" href="##">
                <svg class="size-6">
                    <use xlink:href="/sprites.svg#bag" />
                </svg>
            </a>
            <div class="header-burger sm:hidden">
                <span></span>
            </div>
        </div>
    </div>
</header>

