<div class="custom-select lang-select-wrapper">
    <button
        type="button"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-controls="lang-menu"
        aria-label="Выбрать язык"
        class="btn chevron-after">
        <span class="text">RU</span>
    </button>

    <div id="lang-menu" role="menu" aria-hidden="true" class="menu">
        <a class="link uppercase active" href="/" role="menuitem" aria-label="Переключить на узбекский язык"> Ru </a>
        <a class="link uppercase" href="/" role="menuitem" aria-label="Переключить на узбекский язык"> Uz </a>
    </div>
</div>
