<section class="mt-18 max-md:mt-12 sofa-section">
    <div class="container">
        <h3 class="title mb-9 max-md:mb-6">Выберите мебель по типу помещения</h3>
        <div class="sofa swiper-container relative mb-18">
            <div class="sofa-wrapper swiper-wrapper max-md:h-77.75!">

                <div class="sofa-slide swiper-slide relative text-sm h-77 max-h-77.75  overflow-hidden rounded-md">
                    <img class="w-full h-full object-none object-center" src="./public/images/jpg/sofa01.jpg" alt="sofa">
                    <div class="absolute bottom-4 left-0  w-full flex justify-center items-center">
                        <a href="##" class="font-semibold bg-white w-full max-w-59 rounded-[50px] h-10 flex justify-center items-center">Гостиная</a>
                    </div>
                </div>
                <div class="sofa-slide swiper-slide relative text-sm max-h-77.75 h-77 overflow-hidden rounded-md">
                    <img class="w-full h-full object-none object-center" src="./public/images/jpg/sofa02.jpg" alt="sofa">
                    <div class="absolute bottom-4 left-0  w-full flex justify-center items-center">
                        <a href="##" class="font-semibold bg-white w-full max-w-59 rounded-[50px] h-10 flex justify-center items-center">Спальня</a>
                    </div>
                </div>
                <div class="sofa-slide swiper-slide relative text-sm max-h-77.75 h-77 overflow-hidden rounded-md">
                    <img class="w-full h-full object-none object-center" src="./public/images/jpg/sofa03.jpg" alt="sofa">
                    <div class="absolute bottom-4 left-0  w-full flex justify-center items-center">
                        <a href="##" class="font-semibold bg-white w-full max-w-59 rounded-[50px] h-10 flex justify-center items-center">Прихожая</a>
                    </div>
                </div>
                <div class="sofa-slide swiper-slide relative text-sm max-h-77.75 h-77 overflow-hidden rounded-md">
                    <img class="w-full h-full object-none object-center" src="./public/images/jpg/sofa04.jpg" alt="sofa">
                    <div class="absolute bottom-4 left-0  w-full flex justify-center items-center">
                        <a href="##" class="font-semibold bg-white w-full max-w-59 rounded-[50px] h-10 flex justify-center items-center">Детская</a>
                    </div>
                </div>
                <div class="sofa-slide swiper-slide relative text-sm max-h-77.75 h-77 overflow-hidden rounded-md">
                    <img class="w-full h-full object-none object-center" src="./public/images/jpg/sofa05.jpg" alt="sofa">
                    <div class="absolute bottom-4 left-0  w-full flex justify-center items-center">
                        <a href="##" class="font-semibold bg-white w-full max-w-59 rounded-[50px] h-10 flex justify-center items-center">Кабинет</a>
                    </div>
                </div>
                <div class="sofa-slide swiper-slide relative text-sm max-h-77.75 h-77 overflow-hidden rounded-md">
                    <img class="w-full h-full object-none object-center" src="./public/images/jpg/sofa06.jpg" alt="sofa">
                    <div class="absolute bottom-4 left-0  w-full flex justify-center items-center">
                        <a href="##" class="font-semibold bg-white w-full max-w-59 rounded-[50px] h-10 flex justify-center items-center">Офис</a>
                    </div>
                </div>
                
            </div>
            <div class="sofa-scrollbar swiper-scrollbar md:hidden absolute -bottom-6! left-0"></div>
        </div>
        <div class="flex items-center gap-2.5 mb-9 [&>a]:whitespace-nowrap max-md:overflow-auto">
            <a class="active rounded-[50px] bg-grey-1 px-4.5 py-2.25 [&.active]:bg-red-2 [&.active]:text-white [&.active]:m-0 text-sm" href="##">
                Угловые диваны
            </a>
            <a class="rounded-[50px] bg-grey-1 px-4.5 py-2.25 [&.active]:bg-red-2 [&.active]:text-white text-sm" href="##">
                Двухспальные кровати
            </a>
            <a class="rounded-[50px] bg-grey-1 px-4.5 py-2.25 [&.active]:bg-red-2 [&.active]:text-white text-sm" href="##">
                Шкафы трехстворчатые
            </a>
            <a class="rounded-[50px] bg-grey-1 px-4.5 py-2.25 [&.active]:bg-red-2 [&.active]:text-white text-sm" href="##">
                Тумбы под TV
            </a>
            <a class="rounded-[50px] bg-grey-1 px-4.5 py-2.25 [&.active]:bg-red-2 [&.active]:text-white text-sm" href="##">
                Столы обеденные
            </a>
            <a class="rounded-[50px] bg-grey-1 px-4.5 py-2.25 [&.active]:bg-red-2 [&.active]:text-white text-sm" href="##">
                Вешалки гардеробные
            </a>
            <a class="rounded-[50px] bg-grey-1 px-4.5 py-2.25 [&.active]:bg-red-2 [&.active]:text-white text-sm" href="##">
                Стулья барные
            </a>
            <a class="rounded-[50px] bg-grey-1 px-4.5 py-2.25 [&.active]:bg-red-2 [&.active]:text-white text-sm" href="##">
                Диваны прямые
            </a>
        </div>
        <div class="flex gap-5 max-md:flex-col">
            <div class="flex-[0_1_67%] relative">
                <img class="w-full rounded-md" src="./public/images/jpg/couch01.jpg" alt="couch">
                {{>dot bottom="32%" left="39%" title="Monaco FIRST" subtitle="Диван угловой" price="31 822 000"}}
            </div>
            <div class="flex-[0_1_33%] flex md:flex-col gap-5  text-white">
                <div class="relative max-md:flex-[0_1_50%]">
                    <img class="w-full rounded-md" src="./public/images/jpg/couch02.jpg" alt="couch">
                    {{>dot bottom="30%" left="39%" title="LINEA" subtitle="Диван угловой" price="22 500 000"}}
                </div>
                <a class="font-semibold max-md:flex-[0_1_50%] inline-flex md:items-center md:justify-between px-5 max-md:px-6 bg-red-2 flex-[1_1_auto] rounded-md max-md:flex-col max-md:justify-center max-md:gap-5.5" href="##">
                    <span>Смотреть все</span>
                    <svg class="size-10.5">
                        <use xlink:href="/sprites.svg#red-arrow-right" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
