<div>
    <!-- Custom tabs -->
    <div class="custom-tabs">
        <div class="tab-btns">
            <button type="button" class="tab-btn active">Tab btn 1</button>
            <button type="button" class="tab-btn">Tab btn 2</button>
            <button type="button" class="tab-btn">Tab btn 3</button>
            <button type="button" class="tab-btn">Tab btn 4</button>
        </div>
        <div class="tabs">
            <div class="tab active">Tab 1</div>
            <div class="tab">Tab 2</div>
            <div class="tab">Tab 3</div>
            <div class="tab">Tab 3</div>
        </div>
    </div>
    <!-- Custom tabs end -->

    <!-- Animation accordion -->
    <div class="animation-accordion">
        <button type="button" class="btn">Btn</button>
        <div class="content">Content</div>
    </div>
    <!-- Animation accordion end -->

    <!-- Accordion -->
    <div class="accordion">
        <button type="button" class="btn">Btn</button>
        <div class="content">Content</div>
    </div>
    <!-- Accordion end -->

    <!-- Accordion with nesting -->
    <div class="header-accordion">
        <div class="link-wrapper">
            <a href="/" class="link"></a>
            <button type="button" class="btn"></button>
        </div>
        <div class="content">
            <div class="header-accordion">
                <div class="link-wrapper">
                    <a href="/" class="link"></a>
                    <button type="button" class="btn"></button>
                </div>
                <div class="content"></div>
            </div>
            <div class="header-accordion">
                <div class="link-wrapper">
                    <a href="/" class="link"></a>
                    <button type="button" class="btn"></button>
                </div>
                <div class="content"></div>
            </div>
        </div>
    </div>
    <!-- Accordion with nesting end -->

    <!-- Password input -->
    <div class="password-input-wrapper">
        <input type="password" name="password" placeholder="" />

        <button type="button" class="show-password-btn">
            <svg class="eye-off">
                <use xlink:href="/svgs/eye-off.svg#eye-off" />
            </svg>
            <svg class="eye">
                <use xlink:href="/svgs/eye.svg#eye" />
            </svg>
        </button>
    </div>
    <!-- Password input end -->

    <!-- Animation from zero to number -->
    <h4 class="counter" data-counter="10">10</h4>
    <!-- Animation from zero to number end -->

    <!-- Cut list -->
    <div class="cut-list-wrapper" data-quantity="4">
        <ul class="list">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
        </ul>

        <button type="button" class="btn">
            <span class="show-text">Все характеристики</span>
            <span class="hide-text">Скрыть</span>
        </button>
    </div>
    <!-- Cut list end -->

    <!-- Cut text -->
    <div class="text-block-wrapper">
        <div class="text-block">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quis quia ab delectus dignissimos
                perspiciatis rerum et eveniet aspernatur aut architecto, nulla voluptatem molestias. Expedita autem
                libero reprehenderit nesciunt excepturi facere vitae distinctio quo cum? Suscipit quidem ipsum itaque
                facilis delectus dignissimos voluptas quas porro ad cumque velit temporibus repellendus at quia odit,
                voluptatibus doloribus, fugiat vel dolor, natus ipsam quo neque quibusdam.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet aliquam cumque beatae exercitationem
                debitis, laudantium, explicabo odit obcaecati eius totam similique commodi cupiditate magni provident
                expedita laboriosam quasi porro voluptates sint fuga. Molestiae vel temporibus tempore obcaecati nulla,
                laudantium officiis. Magnam ab earum tempore! Numquam nesciunt iste delectus sapiente odio!
            </p>
        </div>
        <button type="button" class="btn">
            <span class="show-text">Развернуть описание</span>
            <span class="hide-text">Скрыть</span>
        </button>
    </div>
    <!-- Cut text end -->

    <!-- Radio inputs with target -->
    <fieldset class="targets-input-group">
        <label class="custom-radio">
            <input type="radio" name="radios" data-target="target-1" />
            <span class="text">Radio 1</span>
        </label>

        <div data-target-item="target-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat totam alias quia, omnis esse sunt qui!
            Repellat nulla eveniet commodi.
        </div>

        <label class="custom-radio">
            <input type="radio" name="radios" data-target="target-2" />
            <span class="text">Radio 2</span>
        </label>

        <div data-target-item="target-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quae perferendis enim sunt veritatis, sit
            laudantium vel minima! Quibusdam, nobis.
        </div>
    </fieldset>
    <!-- Radio inputs with target end -->

    <!-- Phone input -->
    <input type="text" class="phone-input" placeholder="Номер телефона" />
    <!-- Phone input end -->

    <!-- Fancybox gallery -->
    <div data-src="/images/example.png" data-fancybox="example-gallery">
        <img src="/images/example.png" alt="" />
    </div>
    <!-- Fancybox gallery end -->

    <!-- Custom scrollbar -->
    <div class="custom-scrollbar"></div>
    <!-- Custom scrollbar end -->
</div>
